APP_NAME="Content Writing Service"
APP_KEY=base64:kt8rOg+0PFKAdbNCNdCaj9dDczGn5Vdax/X51mGy9Ug=
APP_ENV=local
APP_KEY=base64:kt8rOg+0PFKAdbNCNdCaj9dDczGn5Vdax/X51mGy9Ug=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LOCALE_PHP=en_US
APP_TIMEZONE=UTC
SINGLE_LOGIN=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=content-writing-service
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=mail.contentwritingservice.ae
# MAIL_PORT=465
# mail_username=info@contentwritingservice.ae
# MAIL_PASSWORD=YqEo6@R}oLt=
# MAIL_ENCRYPTION=ssl
# mail_from_address=info@contentwritingservice.ae
# MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TAWKTO_LINK="https://tawk.to/chat/{property_key}/{widget_key}"
